{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<div class="container">
    <h2>Editar Usuário</h2>
    <form method="POST" action="{{ url_for('editar_usuario', id=usuario.id) }}">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.username.label(class="form-control-label") }}
            {{ form.username(class="form-control") }}
            {% for error in form.username.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.empresa_id.label(class="form-control-label") }}
            {{ form.empresa_id(class="form-control") }}
            {% for error in form.empresa_id.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Seção de senha removida. Se você quiser permitir a atualização da senha, mantenha apenas os campos de nova senha e confirmação. -->

        <div class="form-group">
            {{ form.new_password.label(class="form-control-label") }}
            {{ form.new_password(class="form-control") }}
            {% for error in form.new_password.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.confirm_new_password.label(class="form-control-label") }}
            {{ form.confirm_new_password(class="form-control") }}
            {% for error in form.confirm_new_password.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Atualizar Usuário</button>
    </form>
</div>

{% endblock %}
